@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<!-- Contenido -->
<div class="container mw-custom py-5">
    <div class="row">
        <div class="col-12 text-center pb-5">
            <h2 class="text-secondary">Lorem ipsum dolor sit</h2>
            <p class="fs-5">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, <br />
                sed do eiusmod tempor incididunt ut.
            </p>

        </div>
    </div>
    <div class="row justify-content-around mb-4">
        <div class="col-8 col-lg-3 text-center">
            <div class="item" width="45">
                <img src="/Content/img/icon-caja-BODY.svg" width="45" class="pb-2">
                <div class="numero-item">1</div>
            </div>
            <h6 class="text-dark"><b>Lorem ipsum dolor sit amet, consectetur adipiscing elit, </b></h6>
            <p class="text-small">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            </p>
            <div class="verticalLine mb-3">
            </div>
        </div>

        <div class="col-8 col-lg-3 text-center">
            <div class="item" width="45">
                <img src="/Content/img/icon-caja-BODY.svg" width="45" class="pb-2">
                <div class="numero-item">2</div>
            </div>
            <h6 class="text-dark"><b>Lorem ipsum dolor sit amet, consectetur adipiscing elit, </b></h6>
            <p class="text-small">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            </p>

            <div class="verticalLine mb-3">
            </div>
        </div>

        <div class="col-8 col-lg-3 text-center">
            <div class="item" width="45">
                <img src="/Content/img/icon-caja-BODY.svg" width="45" class="pb-2">
                <div class="numero-item">3</div>
            </div>
            <h6 class="text-dark"><b>Lorem ipsum dolor sit amet, consectetur adipiscing elit, </b></h6>
            <p class="text-small">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            </p>

            <div class="verticalLine mb-3 mb-3">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <img src="~/Content/img/imagen-BODY.svg" />
        </div>
    </div>

</div>
<!-- /Contenido -->
<!-- Video -->
<div class="container-fluid p-0 position-relative fondo-video">
    <div class="play-circle-icon"  data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        <i class="fas fa-play-circle position-absolute"></i>
    </div>


    <!-- Modal video-->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header border-0 pb-0">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <iframe class="w-100" height="500" src="https://www.youtube.com/embed/zdHbaXlJ3Fg?start=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="modal-footer border-0">
                </div>
            </div>
        </div>
    </div>
    <!-- /Modal video-->

</div>

<!-- /Video -->


<!-- Contenido 2 -->

<div class="container mw-custom py-5">
    <div class="row">
        <div class="col-12 text-center pb-5">
            <h2 class="text-secondary">Lorem ipsum dolor sit</h2>
            <p class="fs-5">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, <br>
                sed do eiusmod tempor incididunt ut.
            </p>

        </div>
    </div>
    <div class="row">
        <div class="col-lg-5 ">
            <div class="row mb-lg-5 card p-4 m-auto bg-sky border-0">
                <div class="">
                    <div class="item w-100 justify-content-start " width="45">
                        <img src="/Content/img/icon-caja-BODY.svg" width="45" class="pb-2">
                        <div class="numero-item"><i class="fas fa-caret-up fs-6 text-white"></i></div>
                    </div>

                    <h6 class="text-dark"><b>Lorem ipsum dolor sit amet, consectetur adipiscing elit, </b></h6>
                    <p class="text-small m-0 pb-3">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    </p>

                    <button class="btn btn-primary rounded-pill px-3 mb-2 mt-1 text-white" type="submit">
                        <i class="fas fa-arrow-circle-right pe-2 text-primary"></i>VER
                    </button>

                </div>

            </div>

            <div class="verticalLine line-dashed my-3 d-lg-none">
            </div>

            <div class="row mb-lg-5 card p-4 m-auto bg-sky border-0">
                <div class="">
                    <div class="item w-100 justify-content-start " width="45">
                        <img src="/Content/img/icon-caja-BODY.svg" width="45" class="pb-2">
                        <div class="numero-item"><i class="fas fa-caret-up fs-6 text-white"></i></div>
                    </div>

                    <h6 class="text-dark"><b>Lorem ipsum dolor sit amet, consectetur adipiscing elit, </b></h6>
                    <p class="text-small m-0 pb-3">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    </p>

                    <button class="btn btn-primary rounded-pill px-3 mb-2 mt-1 text-white" type="submit">
                        <i class="fas fa-arrow-circle-right pe-2 text-primary"></i>VER
                    </button>

                </div>

            </div>
        </div>

        <div class="verticalLine line-dashed my-3 d-lg-none p-0">
        </div>

        <!-- backbone -->
        <div class="col-lg-2 d-none d-lg-block text-center h-100 m-auto">
            <div class="col-lg-6 text-center h-100 m-auto">
                |<br>|<br>|<br>|<br>|<br>|<br>|<br>|<br>|<br>|<br>|<br>|
            </div>
        </div>

        <div class="col-lg-5 h-100 m-auto">
            <div class="row mb-lg-5 card p-4 m-auto bg-sky border-0">
                <div class="">
                    <div class="item w-100 justify-content-start " width="45">
                        <img src="/Content/img/icon-caja-BODY.svg" width="45" class="pb-2">
                        <div class="numero-item"><i class="fas fa-caret-up fs-6 text-white"></i></div>
                    </div>

                    <h6 class="text-dark"><b>Lorem ipsum dolor sit amet, consectetur adipiscing elit, </b></h6>
                    <p class="text-small m-0 pb-3">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    </p>

                    <img src="~/Content/img/img-caja-BODY.svg" width="200" />

                    <button class="btn btn-primary rounded-pill px-3 mb-2 mt-1 text-white" type="submit">
                        <i class="fas fa-arrow-circle-right pe-2 text-primary"></i>VER
                    </button>

                </div>
            </div>
        </div>


    </div>
</div>
<!-- /Contenido 2 -->
